extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            .video__info__column
                h5.video__title=video.title
                p.video__description=video.description
                .video__views
                    if video.views === 1
                        span #{video.views} view
                    else 
                        span #{video.views} views
                .video__author
                    |Uploaded by   
                    a(href=routes.userDetail(video.creator.id))=video.creator.name
            if loggedUser && video.creator.id === loggedUser.id
                .video__info__editButton
                    a(href=routes.editVideo(video.id)) 
                        Button Edit video
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1 
                    |  comment
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length 
                    |  comments
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        span=comment.text