mixin videoBlock(video={})
  .videoBlock
    video.videoBlock__thumbnail(src=video.videoFile, controls="true")
    a(href=routes.videoDetail(video.id)) 
          h4.videoBlock__title=video.title
          .videoBlock__views
                if video.views === 1
                      h6 #{video.views} view
                else
                      h6 #{video.views} views
